    <!-- ホームへ戻る -->
    <div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="homeModalLabel">ホームへ戻る</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>クトゥルフ診断を中断し、記録を消して最初に戻るには以下をクリックしてください。</p>
            <p><a class="btn btn-success btn-lg" href="./">記録を消して最初に戻る</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>

    <!-- クトゥルフ診断について -->
    <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="aboutModalLabel">クトゥルフ診断について</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>《クトゥルフ神話》は、H. P. ラブクラフトらが創作した宇宙的恐怖の物語のシリーズです。</p>
            <p>この診断は《クトゥルフ神話》を参考に、八戸工業大学工学部工学科システム情報工学コースの小久保研究室が開発しました。</p>
            <p>使用しているイラストは<a href="https://www.irasutoya.com/">「いらすとや」</a>のものです(このリンクをクリックするとクトゥルフ診断を中断し、八戸工業大学のWebサイトに移動します)。</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 八戸工業大学 -->
    <div class="modal fade" id="jscprModal" tabindex="-1" aria-labelledby="jscprModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="jscprModalLabel">八戸工業大学</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>八戸工業大学については、八戸工業大学のWebサイトをご覧ください。</p>
            <p>八戸工業大学のWebサイトは <a href="http://www.hi-tech.ac.jp/">http://www.hi-tech.ac.jp/</a> です。<br>
            ※このリンクをクリックするとクトゥルフ診断を中断し、八戸工業大学のWebサイトに移動します。</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>

    <!-- お問い合わせ -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="contactModalLabel">お問い合わせ</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>この「クトゥルフ診断」を開発したのは八戸工業大学工学部工学科システム情報工学コースの小久保研究室です。</p>
            <p>小久保研究室へのお問い合わせは、メール kokuboアットhi-tech.ac.jp です(「アット」を「@」に読み替えてください)。</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>

    <!-- プライバシー・ポリシー -->
    <div class="modal fade" id="privacyPolicyModal" tabindex="-1" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="privacyPolicyModalLabel">プライバシー・ポリシー</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p></p>
            <p>クトゥルフ診断の回答データは、ブラウザに保存されます。ブラウザを終了するか最初のページに戻ると、データがブラウザから削除されます。</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
